* {
    margin:0;
    padding:0;
}

.jumbotron {
    text-align: center;
}

#result {
    margin:0 auto;
    width:350px;
    height:150px;
    margin-top:30px;
    padding:10px;
    background-color:#ffff00;
}

#forum {
    margin:0 auto;
    width:350px;
    height:auto;
    margin-top:30px;
    padding:10px;
    background-color:#ccc;
}